## IDE
*.iml
.idea/*
!/.idea/runConfigurations
.vscode/

*.class

# Package Files #
#*.jar
*.war
*.ear

.metadata/*

*/bin/*

**/.DS_Store

## Assets
**/save/
**/errorlog.txt
# **/packaged_files.txt --> Should be part of the build process.

Manifest.java

# Gradle ignores
.gradle
**/build/
**/BuildConfig.java
