*.class

# Package Files #
#*.jar
*.war
*.ear

.metadata/*

*/bin/*

**/.DS_Store

save/
core/save/
assets/packaged_files.txt
assets/errorlog.txt
desktop/save
android/libs

*.iml
.idea/*
!/.idea/runConfigurations

Manifest.java

# Gradle ignores
/local.properties
.gradle
core/build
desktop/build
editor/build
build/
**/BuildConfig.java

## Eclipse
.classpath
.project
.settings

## VS Code
.vscode/*
!/.vscode/launch.json
